<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/search.css">
    <title>Buscar Referência</title>
</head>
<body>
    <div class="container">
        <div class="search-area">
            <input class="search-refer" type="text">
            <button class="search-btn">Pesquisar</button>
        </div>
    </div>

    <script>
        const Button = document.querySelector(".search-btn");
        const referToSearch = document.querySelector(".search-refer");
        Button.addEventListener('click', () => {
            window.location =  "update/"+referToSearch.value
        })
    </script>
</body>
</html>