.navbar{
    width: auto;
    height: 65px;
    background-color: #fffcfc;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #292828;
    margin-bottom: 30px;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 101;
}

.navbar i{
    font-size: larger;
    transition: font-size 0.2s;
    padding: 12px 30px 12px 30px;
    border-right: 2px solid black;
    
}

.navbar h1{
    font-weight: 400;
    padding-left: 30px;
}

.navbar i:hover{
    font-size: 1.5em;
    cursor: pointer;
}

.message {
    max-width: 80%;
    margin-left: 10%;
    padding-top: 100px;
    text-align: justify;
    font-size: 1.3em
}

.message span {
    text-decoration: underline;
}

.order-alert-area{
    max-width: 80% ;
    margin: 0 0 0 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

}

.alert{
    width: 100%;
    height: 60px;
    background-color: #fff3cd;
    color: #664d03;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert button{
    cursor: pointer;
    width: auto;
    height: 80%;
    background-color: #664d03;
    color: #fff3cd;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-size: 1.1em;
    padding: 0 10px;
}

@media screen and (max-width: 800px) {
    .order-alert-area{
        margin-left: 2.5%;
        max-width: 95%;
    }

    .alert{
        font-size: 0.8em;
    }
    .navbar h1{
        font-size: 1.6em;

    }
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    position: relative;
    padding-top: 50px;
}

.card{
    position: relative;
    width: 285px;
    height: 624px;
    background: rgb(249,249,249);
    background: radial-gradient(circle, rgba(249,249,249,1) 0%, rgba(237,237,237,1) 100%);
    border-radius: 15px;
    overflow: hidden;
    margin: 0 30px 50px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.2s;
}

@media screen and (max-width: 800px) {
    .card{
        width: 300px;
        height: 642px;
    }    
    .card-image{
        height: 90%;
    }
    .card-text{
        height: 10%;
    }
}



.card:hover{
    transform: translateY(-0.30em);
}

.card-image{
    width: 100%;
    height: 68%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-text{
    width: 100%;
    height: 32%;

}
.card-text h2{
    font-size: 1.3em;
    padding-left: 10px; 
    
}
.card-text h3{
    font-size: 1.1em;
    padding-left: 10px;
    margin: 0;
}
.card-text p{
    font-size: 1.1em;
    padding-left: 10px; 
}
.card-text p:nth-of-type(1){
    font-size: 1.2em;
}

.quantity-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-cards {
   width: 40px;
   height: 40px;
   background-color: white;
   border-radius: 15px;
   margin: 15px 5px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-size: 1.1em;
}
.size-cards p{
    padding-left: 0;
    margin: 0 80%;
    border-bottom: 2px solid black;
}

.buy-btn{
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    text-align: center;
    height: 35px;
    width: 35px;
    font-size: 1.4em;
    color: gray;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
}


/* Modal */

.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
}

.modal{
    min-height: 200px;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 20px;
    font-size: larger;
    position: relative;
    padding-bottom: 70px;
}

.modal .title{
    width: 80%;
    margin-left: 10%;
}

.size-order-line{
    width: 90%;
    height: 100px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 2px solid black;
}

.size-order-line:first-child{
    margin-top: 20px;
    border-top: 2px solid black;
}

.size-order-line:last-child{
    margin-bottom: 80px;
}

.size-order-line p:nth-of-type(2){
    margin-right: 80px;
}

.size-order-quantity{
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.select-value{
    height: 100%;
    width: 40px;
    position: relative;

}

.order-counter{
    height: 32px;
    width: 40px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    margin-top: -16px;

}

.fas.fa-sort-up{
    font-size: 2em;
    position: absolute;
    top: 7px;
    right: 50%;
    margin-right: -9.6px;
    color: #C8ADA5;
    cursor: pointer;
}

.fas.fa-sort-down{
    font-size: 2em;
    position: absolute;
    bottom: 7px;
    right: 50%;
    margin-right: -9.6px;
    color: #C8ADA5;
    cursor: pointer;
}

.close-btn{
    position: absolute;
    z-index: 102;
    top: 8px;
    right: 15px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.add-btn{
    position: absolute;
    z-index: 102;
    bottom: 15px;
    right: 15px;
    color: white;
    background-color: #C8ADA5;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn:hover{
    background-color: rgb(116, 216, 77);
}

.hide{
    display: none;
}

/* Go To Cart Button */

.goToCart-btn{
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
    background-color: turquoise;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
    display: none;
}
