
.navbar{
    width: auto;
    height: 65px;
    background-color: #fffcfc;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    color: #292828;
    margin-bottom: 30px;
    padding-right: 10px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 101;
}

.navbar i{
    font-size: larger;
    transition: font-size 0.2s;
    padding: 12px 30px 12px 30px;
    border-right: 2px solid black;
    
}

.navbar h1{
    font-weight: 400;
    padding-left: 30px;
}

.navbar i:hover{
    font-size: 1.5em;
    cursor: pointer;
}

.message {
    max-width: 80%;
    margin-left: 10%;
    padding-top: 100px;
    text-align: justify;
    font-size: 1.3em
}

.message:nth-of-type(2) {
    padding-top: 30px;
}

.message span {
    text-decoration: underline;
}

.order-alert-area{
    max-width: 80% ;
    margin: 0 0 0 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;

}

.alert{
    width: 100%;
    height: 60px;
    background-color: #fff3cd;
    color: #664d03;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert button{
    cursor: pointer;
    width: auto;
    height: 80%;
    background-color: #664d03;
    color: #fff3cd;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    font-size: 1.1em;
    padding: 0 10px;
}

@media screen and (max-width: 800px) {
    .order-alert-area{
        margin-left: 2.5%;
        max-width: 95%;
    }

    .alert{
        font-size: 0.8em;
    }
    .navbar h1{
        font-size: 1.6em;

    }
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    position: relative;
    z-index: 99;
    padding-top: 50px;
}

.card{
    position: relative;
    width: 285px;
    height: 624px;
    background: rgb(249,249,249);
    background: radial-gradient(circle, rgba(249,249,249,1) 0%, rgba(237,237,237,1) 100%);
    border-radius: 15px;
    overflow: hidden;
    margin: 0 30px 30px 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.2s;
}

@media screen and (max-width: 800px) {
    .card{
        width: 300px;
        height: 642px;
    }    
    .card-image{
        height: 90%;
    }
    .card-text{
        height: 10%;
    }
}



.card:hover{
    transform: translateY(-0.30em);
}

.card-image{
    width: 100%;
    height: 68%;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-text{
    width: 100%;
    height: 32%;

}
.card-text h2{
    font-size: 1.3em;
    padding-left: 10px; 
    
}
.card-text h3{
    font-size: 1.1em;
    padding-left: 10px;
    margin: 0;
}
.card-text p{
    font-size: 1.1em;
    padding-left: 10px; 
}
.card-text p:nth-of-type(1){
    font-size: 1.2em;
}
.card-text p:nth-of-type(3){
    margin-bottom: 5px;
}

 .order-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.each-size{
    display: flex;
    width: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    /* padding: 0 5px; */
    /* border-right: 0.2px solid gray; */
    
}

.each-size:last-child{
    border-right: none;
}

.size-card p, .size-card i {
    padding: 0;
    margin: 0;

}

.size-card{
    width: 40px;
    margin-bottom: 3px;
    text-align: center;
}

.fas.fa-sort-up{
    padding: 0;
    margin: 0;
}

.size-card i {
    cursor: pointer;
    font-size: 2em;
}

  /* Hidden Buttons */

.hidden-buttons{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 105;
    
}

.bag-btn{
    height: 60px;
    width: 60px;
    color: lightskyblue;
    background-color: white;
    border-radius: 50%;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: 0.1s;
}

.bag-btn:hover {
    font-size: 1.7em;
}

.add-cart-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-top: 20px;
    padding: 0 20px;
    background-color: lightskyblue;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* display: none; */
}

.order-btn{
    border: none;
    background-color: lightskyblue;
    color: white;
    font-size: 1.2em;
    margin-right: 20px;

    
}

.add-cart-btn i{
    font-size: 1.em;
}
